
<h1>It's time to play: Battle!</h1>
<h3>Sign in to play the game</h3>

<form action="/names" method="POST" >
  <label> Player 1: <input type="text" name="name1"><br>
  </label>

  <label> Player 2: <input type="text" name="name2"><br>
  </label>
  <input type="submit" value="Submit">
</form>



